<!-- <div id="accordion" role="tablist" aria-multiselectable="true">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <p style="text-decoration:none; color:rgb(233, 147, 34);">Motor Vehicle Services <span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span></p>
    </a>
    <hr style="color:orange;">
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-unstyled">
            <li style="padding-left: 40px;">
                {# for item in service1 #}
                <span>
                    <a href="{{ item.get_absolute_url }}" style="text-decoration:none; color:rgb(233, 147, 34);">
                        <p>{{ item.title }}</p>
                    </a>
                </span>
                <hr style="color:orange;">
                {# endfor #}
            </li>
        </ul>
    </div>
</div>    -->

<!-- <div id=""> -->
    <!-- <a> -->
    <p style="text-decoration:none; color:rgb(233, 147, 34);" class="motor">Motor Vehicle Services <span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span></p>
    <!-- </a> -->
    <hr style="color:orange;">
    <div class="service">
        <ul class="list-unstyled">
            <li style="padding-left: 40px;">
                {% for item in service1 %}
                <span>
                    <a href="{{ item.get_absolute_url }}" style="text-decoration:none; color:rgb(233, 147, 34);">
                        <p>{{ item.title }}</p>
                    </a>
                </span>
                <hr style="color:orange;">
                {% endfor %}
            </li>
        </ul>
    </div>
<!-- </div>    -->

<!-- <hr style="color:orange;"> -->
{% for item in service2 %}
    <span><a href="{{ item.get_absolute_url }}" style="text-decoration:none; color:rgb(233, 147, 34);">
        <!-- <h6 class="h6-responsive">{{ item.title }}</h6> -->
        <p>{{ item.title }}</p>
    </a></span>
    <hr style="color:orange;">  
{% endfor %}

<div id="accordion" role="tablist" aria-multiselectable="true">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <p style="text-decoration:none; color:rgb(233, 147, 34);">Vital Statistics <span><i class="fa fa-hand-o-right" aria-hidden="true"></i></span></p>
    </a>
    <hr style="color:orange;">
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <ul class="list-unstyled">
            <li style="padding-left: 40px;">
                {% for obj in service3 %}
                <span>
                    <a href="{{ obj.get_absolute_url }}" style="text-decoration:none; color:rgb(233, 147, 34);">
                        <!-- <h6 class="h6-responsive">{{ item.title }}</h6> -->
                        <p>{{ obj.title }}</p>
                    </a>
                </span>
                <hr style="color:orange;">
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% for item in service4 %}
<span><a href="{{ item.get_absolute_url }}" style="text-decoration:none; color:rgb(233, 147, 34);">
    <!-- <h6 class="h6-responsive">{{ item.title }}</h6> -->
    <p>{{ item.title }}</p>
</a></span>
<hr style="color:orange;">  
{% endfor %}