{% extends "base.html" %}

{% block title %} {{ service.title }} | Services | {{ block.title }} {% endblock %}

{% block extra-header %}
<style>
    .service{
        display: none;
    }
</style>
{% endblock %}
<script>
{# block jquery #}

    // var servVisible = 'servVisible';
    // var servElement = $('.service');
    // var getCookie = function(){
    //     return JSON.parse(Cookies.get(servVisible) || 'false');
    // };
    // var setCookie = function(value){
    //     Cookies.set(servVisible, value)
    // };
    // var visible = getCookie();
    // servElement.toggle(visible);
    // setCookie(visible);

    // $(".motor").click(function(){
    //     var visible = !getCookie();
    //     setCookie(visible);
    //     servElement.toggle(visible);
    // });

    // var servSeen = 'servSeen';
    // var seenElement = $('.service1');
    // var getCookie = function(){
    //     return JSON.parse(Cookies.get(servSeen) || 'false');
    // };
    // var setCookie = function(e){
    //     Cookies.set(servSeen, e)
    // };
    // var seen = getCookie();
    // seenElement.toggle(seen);
    // setCookie(seen);

    // $(".motor1").click(function(){
    //     var seen = !getCookie();
    //     setCookie(seen);
    //     seenElement.toggle(seen);
    // });

    // var servSeeing = 'servSeeing';
    // var seeingElement = $('.service2');
    // var getCookie = function(){
    //     return JSON.parse(Cookies.get(servSeeing) || 'false');
    // };
    // var setCookie = function(val){
    //     Cookies.set(servSeeing, val)
    // };
    // var seeing = getCookie();
    // seeingElement.toggle(seeing);
    // setCookie(seeing);

    // $(".motor2").click(function(){
    //     var seeing = !getCookie();
    //     setCookie(seeing);
    //     seeingElement.toggle(seeing);
    // });
{# endblock #}
</script>


{% block content %}
<div style="background-color: #EDF4F0; padding-bottom: 150px;">
<section class="" style="background-color: #F3F9F6; padding-top: 30px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                {% include 'services/snippet/list_side.html' with service1=service1 service2=service2 service3=service3 %}
            </div>
            <div class="col-md-9 col-sm-9">
            {% if service.img %}
                <img src="{{ service.img.url }}" alt="header.png" class="img-rounded img-responsive img-fluid">
            {% endif %}
            {% if service %}
                <h4 class="h4-responsive" style="color:orange; padding-top: 20px;">{{ service.title }}</h4>
                {% if service.external_link %}
                    <iframe src="{{ service.external_link }}" style="padding-top:20px; border:1px solid #09C;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-box-shadow: 3px 3px 3px #888;-webkit-box-shadow: 3px 3px 3px #888;box-shadow: 3px 3px 3px #888;background:#eee;">
                    </iframe>
                {% endif %}
                <br>
            {# for item in service #}
                <!-- <h5 class="h5-responsive" style="padding-top: 10px; color:orange;">{{ item.sub_title }}</h5> -->
                <p style="padding-top: 10px;">{{ service.description|safe }}</p>
            {# endfor #}
            {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="" style="background-color: #EDF4F0; padding-top: 20px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">   

            </div>
            <div class="col-md-9 col-sm-9">
                
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}