{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logo1.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}Registry On Wye{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'>
    <meta name="viewport" content="width=device-width" />

    <!-- Meta OG -->
    <meta property="og:title" content="Registry on Wye">
    <meta property="og:description" content="Vehicle registration">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Registry on Wye">
    <!-- /Meta OG -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="Registry on Wye">
    <meta name="twitter:description" content="Vehicle registration">
    <meta name="twitter:title" content="Registry on Wye">
    <meta name="twitter:site" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:creator" content="">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/paper-kit.css' %}" rel="stylesheet">
    <link href="{% static 'css/demo.css' %}" rel="stylesheet">
    <link href="{# static 'css/vendors/jquery.atwho.min.css' #}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Great+Vibes|Lobster|Orbitron|Satisfy" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet">
    <!-- <link href="{# static 'css/nucleo-icons.css' #}" rel="stylesheet" /> -->
    {% block extra-header %}{% endblock %}
        
</head>
    <body>
        {% include "navbar.html" %}
        <main style="min-height: 800px;">
            <div class="">
                {% block content %}{% endblock %}
            </div>
        </main> 
        {% include "footer.html" %}

        <!-- Core JS Files -->
        <script src="{% static 'js/jquery-3.2.1.js' %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script src="{% static 'js/jquery-ui-1.12.1.custom.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/tether.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- Switches -->
        <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>

        <!--  Plugins for Slider -->
        <script src="{% static 'js/nouislider.js' %}"></script>
        <script src="{% static 'js/paper-kit.js' %}"></script>

        <!--  Plugins for DateTimePicker -->
        <script src="{# static 'js/moment.min.js' #}"></script>
        <script src="{# static 'js/bootstrap-datetimepicker.min.js' #}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        <script>
            $(document).ready(function(){
                // alert('Working')
                // {# block jquery #}
                var servVisible = 'servVisible';
                    var servElement = $('.service');
                    var getCookie = function(){
                        return JSON.parse(Cookies.get(servVisible) || 'false');
                    };
                    var setCookie = function(value){
                        Cookies.set(servVisible, value)
                    };
                    var visible = getCookie();
                    servElement.toggle(visible);
                    setCookie(visible);

                    $(".motor").click(function(){
                        var visible = !getCookie();
                        setCookie(visible);
                        servElement.toggle(visible);
                    });

                    var servSeen = 'servSeen';
                    var seenElement = $('.service1');
                    var getCookie = function(){
                        return JSON.parse(Cookies.get(servSeen) || 'false');
                    };
                    var setCookie = function(e){
                        Cookies.set(servSeen, e)
                    };
                    var seen = getCookie();
                    seenElement.toggle(seen);
                    setCookie(seen);

                    $(".motor1").click(function(){
                        var seen = !getCookie();
                        setCookie(seen);
                        seenElement.toggle(seen);
                    });

                    var servSeeing = 'servSeeing';
                    var seeingElement = $('.service2');
                    var getCookie = function(){
                        return JSON.parse(Cookies.get(servSeeing) || 'false');
                    };
                    var setCookie = function(val){
                        Cookies.set(servSeeing, val)
                    };
                    var seeing = getCookie();
                    seeingElement.toggle(seeing);
                    setCookie(seeing);

                    $(".motor2").click(function(){
                        var seeing = !getCookie();
                        setCookie(seeing);
                        seeingElement.toggle(seeing);
                    });
                // {# endblock #}
            });
        </script>
        <script>
            new WOW().init();
        </script>
    </body>
</html>
   