{% load static %}
<div class="footer-top wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 footer_dives wow zoomInDown wHighlight" data-wow-delay="0.35s">
                <h3 class="h3-responsive footer-headers" style="margin-top:10px;">Contact Us</h3>
                <hr class="hidden-md-up" style="color:#fff;">
                <div class="add_desc">
                    <ul class="list-unstyled">
                        <li class=""><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 403  207  5510 (P),403  207  5570 (F)</li>
                        <li class=""><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> 402 - 100 Marina Drive Chestermere<br />Alberta T1X 0A9</li>
                        <li><i class="fa fa-envelope fa-lg" aria-hidden="true"></i><a href="mailto: corporate@chlrs.com">corporate@chlrs.com</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-3 col-sm-3 footer_dives wow zoomInUp wHighlight" data-wow-delay="0.36s">
                <h3 class="h3-responsive footer-headers" style="margin-top:10px;">Hours Opened</h3>
                <hr class="hidden-md-up" style="color:#fff;">
                <div class="add_time">
                    <ul class="list-unstyled">
                        <li class="tme">Mon - Fri:   9:00am -6:00pm<br />
                            Sat : 9:00 am - 2:00pm</li>
                        <li class="tme">Sun:   Closed<br />Holidays:   Closed</li>
                      <!-- <li class="note">CLOSEd StAT HOLIDAYS & Saturday that fall either on or in conjunction with a holiday (friday or monday)</li> -->
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-3 col-sm-3 footer_dives wow zoomInLeft wHighlight" data-wow-delay="0.35s">
                <h3 class="h3-responsive footer-headers" style="margin-top:10px;">Social Media Connect</h3>
                <hr class="hidden-md-up" style="color:#fff;">
                <div class="icons">
                    <ul class="list-unstyled" style="padding-left: 80px; padding-top: 25px;">
                        <li class="facebook"><a href="https://www.facebook.com/chlrs" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/chestermerereg" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.pinterest.ca/chestermerelake/" target="_blank"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a></li>  
                        <!-- <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li> -->
                    </ul>
                </div>
            </div>
             <div class="col-md-3 col-sm-3 footer_dives text-center wow zoomInLeft wHighlight" data-wow-delay="0.37s" style="padding-top: 50px;">
                <ul class="list-unstyled">
                    <li><a href="/privacy/">Privacy</a></li>
                    <li><a href="/terms/">Terms</a></li>
                    {% comment %} <li><a href="">Registries</a></li>
                    <li><a href="">Form</a></li>
                    <li><a href="">Certificates</a></li>
                    <li><a href="">Additional</a></li>
                    <li><a href="">Contact</a></li> {% endcomment %}
                </ul>
            </div> 
        </div>
    </div>
</div>
<div class="footer-bottom wrapper">
    <div class="container">
        <div class="col-sm-12 wow rubberBand" data-wow-delay="0.38s">
            © <script>document.write(new Date().getFullYear()) </script> Chestermerelake Registry. All Rights Reserved.
            <!--<div class="site_map">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>-->
        </div>
    </div>
</div>