{% comment %} <div class="footer-pad">
                <h2 class="h2-responsive" style="font-family: pill_gothic_300mgregular; font-size:26px; color:rgb(245, 237, 237); margin-bottom:5px;">Address</h2>
                <div class="add_desc">
                    <ul>
                        <li class="footer_phone">403  207  5510 (P),  403  207  5570 (F)</li>
                        <li class="">400 - 100 Marina Drive Chestermere<br />Alberta T1X 0A9</li>
                        <li class="">www.chestermerelakeregistry.com</li>
                        <li class="footer_email">corporate@chlrs.com</li>
                    </ul>
                </div>
            </div>
            </div> {% endcomment %}
            <div class="col-md-3">
                    
                        <h2>Time Hours</h2>
                        <ul class="list-unstyled">
                            <li>Mon - Fri: 9:00am - 6:00pm<br />
                                Sat : 9:00 am - 2:00pm</li>
                            <li>Sun: Closed<br />Holidays: Closed</li>
                            <li>Closed Stat Holidays & Saturday that fall either on or in conjunction with a holiday (friday or monday)</li>
                        </ul>
                    {% comment %} <h2 class="h2-responsive" style="font-family: pill_gothic_300mgregular; font-size:26px; color:rgb(245, 237, 237); margin-bottom:5px;">Time Hours</h2>
                    <div class="add_time">
                        <ul>
                            <li class="tme">Mon - Fri:   9:00am -6:00pm<br />
                            Sat : 9:00 am - 2:00pm</li>
                            <li class="tme">Sun:   Closed<br />Holidays:   Closed</li>
                            <li class="note">CLOSEd StAT HOLIDAYS & Saturday that fall either on or in conjunction with a holiday (friday or monday)</li>
                        </ul>
                    </div> {% endcomment %}
                    
                </div>
                <div class=" col-md-3 footer_social footer_dives">
                    <div class="icons">
                        <ul>
                            <li class="facebook"><a href="#">	</a></li>
                            <li class="twiter"><a href="#"></a></li>
                            <li class="pint"><a href="#"></a></li>
                        </ul>
                    </div>
                </div> 
            </div>